@tailwind base;

a {
    @apply text-blue-700;
}

a:hover {
    @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
    @apply my-6;
}

.content ul {
    @apply my-6;
}

@layer base {
    [data-theme="default-dark"] {
        --color-bg: #000;
        --color-text: #a48e65;
        --color-primary: #caa247;
        --color-secondary: #fff8e8;
        --color-special: #caa247;
    }

    [data-theme="default"] {
        --color-bg: #dfe0df;
        --color-text: #a48e65;
        --color-primary: #caa247;
        --color-secondary: #fff8e8;
        --color-special: #caa247;
    }

    [data-theme="classic"] {
        --color-bg: #f1edee;
        --color-text: #3d5467;
        --color-primary: #db5461;
        --color-secondary: #686963;
        --color-special: #8aa29e;
    }

    [data-theme="cherry"] {
        --color-bg: #1b2021;
        --color-text: #ffd9da;
        --color-primary: #ea638c;
        --color-secondary: #ea638c;
        --color-special: #30343f;
    }

    [data-theme="pacific"] {
        --color-bg: #c6c5b9;
        --color-text: #475657;
        --color-primary: #62929e;
        --color-secondary: #393a10;
        --color-special: #4a6d7c;
    }

    [data-theme="pastel"] {
        --color-bg: #0d1b1e;
        --color-text: #e8dcb9;
        --color-primary: #f2cee6;
        --color-secondary: #7798ab;
        --color-special: #c3dbc5;
    }

    [data-theme="pulse"] {
        --color-bg: #000000;
        --color-text: #00ffff;
        --color-primary: #00ffff;
        --color-secondary: #00ffff;
        --color-special: #ffffff;
    }

    [data-theme="dolch"] {
        --color-bg: #dcdcdd;
        --color-text: #46494c;
        --color-primary: #1985a1;
        --color-secondary: #4c5c68;
        --color-special: #c5c3c6;
    }

    [data-theme="desert"] {
        --color-bg: #764248;
        --color-text: #dfe2cf;
        --color-primary: #e3c5bb;
        --color-secondary: #dda3b2;
        --color-special: #ffadc6;
    }

    [data-theme="forest"] {
        --color-bg: #353d2f;
        --color-text: #e6fafc;
        --color-primary: #6ba368;
        --color-secondary: #b6cca1;
        --color-special: #515b3a;
    }

    [data-theme="archfey"] {
        --color-bg: #d7fcd4;
        --color-text: #b68f40;
        --color-primary: #30011e;
        --color-secondary: #b6cca1;
        --color-special: #545454;
    }

    [data-theme="abyss"] {
        --color-bg: #191716;
        --color-text: #84596b;
        --color-primary: #440d0f;
        --color-secondary: #603a40;
        --color-special: #af9bb6;
    }

    [data-theme="iceburg"] {
        --color-bg: #dbe4ee;
        --color-text: #81a4cd;
        --color-primary: #054a91;
        --color-secondary: #3e7cb1;
        --color-special: #ffffff;
    }

    [data-theme="otherworld"] {
        --color-bg: #292e1e;
        --color-text: #d3fff3;
        --color-primary: #7f0799;
        --color-secondary: #9649cb;
        --color-special: #afbbf2;
    }

    [data-theme="fire"] {
        --color-bg: #690500;
        --color-text: #bb6b00;
        --color-primary: #210f04;
        --color-secondary: #452103;
        --color-special: #934b00;
    }

    [data-theme=""] {
        --color-bg: #;
        --color-text: #;
        --color-primary: #;
        --color-secondary: #;
        --color-special: #;
    }
}
